<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submitUserInfo" method="post" th:action="@{/submitUserInfo}">
        <label for="name">名前:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="age">年齢:</label><br>
        <input type="text" id="age" name="age"><br>
        <input type="submit" value="送信">
    </form>
</body>
</html>